div#letters {
    /* height: 150px; */
    height: 400px;
    width: 400px;
    margin: auto;
    border: 1px dashed red;
}

div#letters_row1 {
    width: 100%;
    height: 95px;
    border: 1px dashed red;
}

div#letters_rowcenter {
    width: 100%;
    height: 95px;
    border: 1px dashed red;
}

div#letters_row3 {
    width: 100%;
    height: 95px;
    border: 1px dashed red;
}

div#game {
    border: 1px dashed green;
    width: 100%;
}

div#heading {
    width: 100%;
    /* border: 1px dashed green; */
}

div#left {
    border: 1px dashed orange;
    height: 300px;
}

div#right {
    border: 1px dashed orange;
    height: 300px;
}

div#progress_bar-div {
    height: 35px;
    width: 85%;
    display: flex;
    border: 1px dotted blue;
}

progress#level {
    display: inline-block;
    width: 90%;
    /* height: 30px; */
    /* width: 70%; */
}

input[id="points_earned"] {
    /* height: 50px; */
    border: 0px;
}

div#current_word-div {
    width: 400px;
    margin: auto;
    text-align: center;
    border: 1px dashed blue;
}

input[type="text"]#current_word {
/* needs to be the same width as the letters div */
    height: 50px;
    width: 90%;
    font-size: 25px;
}

textarea#words_played {
    height: 100px;
    width: 85%;
}

div#buttons {
    width: 500px;
    margin: auto;
    display: flex; align-items: center; justify-content: center;
    border: 1px dashed red;
}

button.letter {
    width: 75px;
    height:75px;
    margin: 10px;
}

/* This is the message that says "Sorry, there's no game here!" if 
the game does not exist on the filesystem. */

div#sorry {
    width: 100%;
    height: 1000px;
    background-color: white;
    position: absolute;
    z-index: 50;
    display: none;
}

div#sorry > p {
    text-align: center;
}

div#genius {
    width: 100%;
    height: 1000px;
    position: absolute;
    z-index: 45;
    display: none;
}

div#genius > div {
    width: 50%;
    height: 500px;
    background-color: white;
    margin: auto;
    box-shadow: 5px 5px grey;

}

div#genius > div > p {
    text-align: center;
    position: relative;
    top: 200px;
}

@media screen and (min-width: 1000px) {
    div#game {
        display: flex;
        flex-direction: row-reverse;
        height: 800px;
    }

    div#left {
        height: 800px;
        width: 50%;
        /* margin: auto; */
        border: 1px dashed orange;
    }

    div#right {
        height: 800px;
        width: 50%;
        /* margin: auto; */
        border: 1px dashed orange;
    }

}