div#letters {
    height: 500px;
    width: 70%;
    margin: auto;
    border: 1px dashed red;
}

div#top {
    height: 300px;
    width: 70%;
    margin: auto;
    border: 1px dashed blue;
}

progress#level {
    display: inline-block;
    width: 90%;
    /* width: 70%; */
}

input[type="text"]#current_word {
    display: inline-block;
    width: 90%;
}

textarea#words_played {
    height: 100px;
    width: 90%;
}

div#buttons {
    width: 70%;
    margin: auto;
    display: flex; align-items: center; justify-content: center;
    border: 1px dashed red;
}